In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# (1) Process Match Results

In [7]:
import json
with open (r"C:\Users\91948\OneDrive\Desktop\projects\cricket analytics\t20_json_files\t20_wc_match_results.json") as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [8]:
df_match.shape

(45, 7)

In [9]:
df_match.describe()

,team1,team2,winner,margin,ground,matchDate,scorecard
count,45,45,45,45,45,45,45
unique,14,13,17,28,7,25,45
top,Netherlands,Zimbabwe,England,5 wickets,Hobart,"Nov 6, 2022",T20I # 1823
freq,5,8,5,7,9,3,1

In [10]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team1      45 non-null     object
 1   team2      45 non-null     object
 2   winner     45 non-null     object
 3   margin     45 non-null     object
 4   ground     45 non-null     object
 5   matchDate  45 non-null     object
 6   scorecard  45 non-null     object
dtypes: object(7)
memory usage: 2.6+ KB

In [11]:
df_match['team1'].unique()

array(['Namibia', 'Netherlands', 'Scotland', 'Ireland', 'Sri Lanka',
       'West Indies', 'Australia', 'Afghanistan', 'India', 'Bangladesh',
       'South Africa', 'England', 'Pakistan', 'New Zealand'], dtype=object)

In [12]:
df_match.rename({'scorecard':'match_id'},axis=1,inplace=True) # renaming scoreboard to match_id because we have different table in order to connect them we are going rename them

In [13]:
df_match.columns

Index(['team1', 'team2', 'winner', 'margin', 'ground', 'matchDate',
       'match_id'],
      dtype='object')

# adding batting summary table

In [14]:
with open (r"C:\Users\91948\OneDrive\Desktop\projects\cricket analytics\t20_json_files\t20_wc_batting_summary.json") as f:
    data = json.load(f)
    
    all_records = []
    
    for rec in data:
        all_records.extend(rec['battingSummary'])
        
df_batting = pd.DataFrame(all_records)
df_batting.head()  #creating single list where all the matches are recorded

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [15]:
df_batting['match'].value_counts().sum()

699

 creating  out and not out new column using lamba function

In [16]:
df_batting['out/not_out']=df_batting.dismissal.apply(lambda x : 'out' if len(x) > 0 else 'not_out' )
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out

In [17]:
df_batting['out/not_out'].value_counts()

out        554
not_out    145
Name: out/not_out, dtype: int64

In [18]:
#droping dismissal column 
df_batting.drop(columns = ['dismissal'],inplace = True)

In [19]:
df_batting.columns

Index(['match', 'teamInnings', 'battingPos', 'batsmanName', 'runs', 'balls',
       '4s', '6s', 'SR', 'out/not_out'],
      dtype='object')

In [20]:
#removing special characters 
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x : x.replace ('â€',''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x : x.replace ('\xa0',''))

In [21]:
df_batting.head(30)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),29,23,2,1,126.08,out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,out
15,Namibia Vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,5,8,0,0,62.50,out
16,Namibia Vs Sri Lanka,Sri Lanka,9,Pramod Madushan,0,0,0,0,-,out
17,Namibia Vs Sri Lanka,Sri Lanka,10,Dushmantha Chameera,8,15,0,0,53.33,out
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,11,11,0,1,100.00,not_out
19,U.A.E. Vs Netherlands,U.A.E.,1,Chirag Suri,12,20,1,0,60.00,out
20,U.A.E. Vs Netherlands,U.A.E.,2,Muhammad Waseem,41,47,1,2,87.23,out
21,U.A.E. Vs Netherlands,U.A.E.,3,Kashif Daud,15,14,0,1,107.14,out
22,U.A.E. Vs Netherlands,U.A.E.,4,Vriitya Aravind,18,21,0,0,85.71,out
23,U.A.E. Vs Netherlands,U.A.E.,5,Zawar Farid,2,4,0,0,50.00,out
24,U.A.E. Vs Netherlands,U.A.E.,6,Basil Hameed,4,4,1,0,100.00,out
25,U.A.E. Vs Netherlands,U.A.E.,7,Chundangapoyil Rizwan(c),1,2,0,0,50.00,out
26,U.A.E. Vs Netherlands,U.A.E.,8,Aayan Afzal Khan,5,7,0,0,71.42,out
27,U.A.E. Vs Netherlands,U.A.E.,9,Karthik Meiyappan,0,0,0,0,-,not_out
28,U.A.E. Vs Netherlands,U.A.E.,10,Junaid Siddique,0,1,0,0,0.00,not_out
29,U.A.E. Vs Netherlands,Netherlands,1,Vikramjit Singh,10,7,2,0,142.85,out

 now we can'not see that special character it has been removed

 we are going to merge and  batting column tabel into one

In [22]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + 'vs' + row['team2']
    key2 = row['team2'] + 'vs' + row['team1']
    
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

match_ids_dict

{'NamibiavsSri Lanka': 'T20I # 1823',
 'Sri LankavsNamibia': 'T20I # 1823',
 'NetherlandsvsU.A.E.': 'T20I # 1825',
 'U.A.E.vsNetherlands': 'T20I # 1825',
 'ScotlandvsWest Indies': 'T20I # 1826',
 'West IndiesvsScotland': 'T20I # 1826',
 'IrelandvsZimbabwe': 'T20I # 1828',
 'ZimbabwevsIreland': 'T20I # 1828',
 'NamibiavsNetherlands': 'T20I # 1830',
 'NetherlandsvsNamibia': 'T20I # 1830',
 'Sri LankavsU.A.E.': 'T20I # 1832',
 'U.A.E.vsSri Lanka': 'T20I # 1832',
 'IrelandvsScotland': 'T20I # 1833',
 'ScotlandvsIreland': 'T20I # 1833',
 'West IndiesvsZimbabwe': 'T20I # 1834',
 'ZimbabwevsWest Indies': 'T20I # 1834',
 'NetherlandsvsSri Lanka': 'T20I # 1835',
 'Sri LankavsNetherlands': 'T20I # 1835',
 'NamibiavsU.A.E.': 'T20I # 1836',
 'U.A.E.vsNamibia': 'T20I # 1836',
 'IrelandvsWest Indies': 'T20I # 1837',
 'West IndiesvsIreland': 'T20I # 1837',
 'ScotlandvsZimbabwe': 'T20I # 1838',
 'ZimbabwevsScotland': 'T20I # 1838',
 'AustraliavsNew Zealand': 'T20I # 1839',
 'New ZealandvsAustralia': 'T20I # 1839',
 'AfghanistanvsEngland': 'T20I # 1840',
 'EnglandvsAfghanistan': 'T20I # 1840',
 'IrelandvsSri Lanka': 'T20I # 1841',
 'Sri LankavsIreland': 'T20I # 1841',
 'IndiavsPakistan': 'T20I # 1842',
 'PakistanvsIndia': 'T20I # 1842',
 'BangladeshvsNetherlands': 'T20I # 1843',
 'NetherlandsvsBangladesh': 'T20I # 1843',
 'South AfricavsZimbabwe': 'T20I # 1844',
 'ZimbabwevsSouth Africa': 'T20I # 1844',
 'AustraliavsSri Lanka': 'T20I # 1845',
 'Sri LankavsAustralia': 'T20I # 1845',
 'EnglandvsIreland': 'T20I # 1846',
 'IrelandvsEngland': 'T20I # 1846',
 'AfghanistanvsNew Zealand': 'T20I # 1846a',
 'New ZealandvsAfghanistan': 'T20I # 1846a',
 'BangladeshvsSouth Africa': 'T20I # 1847',
 'South AfricavsBangladesh': 'T20I # 1847',
 'IndiavsNetherlands': 'T20I # 1848',
 'NetherlandsvsIndia': 'T20I # 1848',
 'PakistanvsZimbabwe': 'T20I # 1849',
 'ZimbabwevsPakistan': 'T20I # 1849',
 'AfghanistanvsIreland': 'T20I # 1849a',
 'IrelandvsAfghanistan': 'T20I # 1849a',
 'AustraliavsEngland': 'T20I # 1849b',
 'EnglandvsAustralia': 'T20I # 1849b',
 'New ZealandvsSri Lanka': 'T20I # 1850',
 'Sri LankavsNew Zealand': 'T20I # 1850',
 'BangladeshvsZimbabwe': 'T20I # 1851',
 'ZimbabwevsBangladesh': 'T20I # 1851',
 'NetherlandsvsPakistan': 'T20I # 1852',
 'PakistanvsNetherlands': 'T20I # 1852',
 'IndiavsSouth Africa': 'T20I # 1853',
 'South AfricavsIndia': 'T20I # 1853',
 'AustraliavsIreland': 'T20I # 1855',
 'IrelandvsAustralia': 'T20I # 1855',
 'AfghanistanvsSri Lanka': 'T20I # 1856',
 'Sri LankavsAfghanistan': 'T20I # 1856',
 'EnglandvsNew Zealand': 'T20I # 1858',
 'New ZealandvsEngland': 'T20I # 1858',
 'NetherlandsvsZimbabwe': 'T20I # 1859',
 'ZimbabwevsNetherlands': 'T20I # 1859',
 'BangladeshvsIndia': 'T20I # 1860',
 'IndiavsBangladesh': 'T20I # 1860',
 'PakistanvsSouth Africa': 'T20I # 1861',
 'South AfricavsPakistan': 'T20I # 1861',
 'IrelandvsNew Zealand': 'T20I # 1862',
 'New ZealandvsIreland': 'T20I # 1862',
 'AustraliavsAfghanistan': 'T20I # 1864',
 'AfghanistanvsAustralia': 'T20I # 1864',
 'EnglandvsSri Lanka': 'T20I # 1867',
 'Sri LankavsEngland': 'T20I # 1867',
 'NetherlandsvsSouth Africa': 'T20I # 1871',
 'South AfricavsNetherlands': 'T20I # 1871',
 'BangladeshvsPakistan': 'T20I # 1872',
 'PakistanvsBangladesh': 'T20I # 1872',
 'IndiavsZimbabwe': 'T20I # 1873',
 'ZimbabwevsIndia': 'T20I # 1873',
 'New ZealandvsPakistan': 'T20I # 1877',
 'PakistanvsNew Zealand': 'T20I # 1877',
 'EnglandvsIndia': 'T20I # 1878',
 'IndiavsEngland': 'T20I # 1878',
 'EnglandvsPakistan': 'T20I # 1879',
 'PakistanvsEngland': 'T20I # 1879'}

saving in csv format

In [39]:
df_match.to_csv(r'C:\Users\91948\OneDrive\Desktop\projects\cricket analytics\dim_match_summary.csv', index = False)

# (2) Process Batting Summary

 so our goal is to bring match_id column from match tabel to df_batting tabel

In [18]:
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [36]:
df_batting['match_id'] = df_match['match_id']

In [42]:
df_batting.drop(columns = ['mach'],inplace = True)

In [43]:
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1825
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1826
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1828
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1830

In [40]:
df_batting.to_csv(r'C:\Users\91948\OneDrive\Desktop\projects\cricket analytics\temp.csv',index=True)

data is been converted to excel and been saved in given location

# 3) process bowling summary

In [24]:
with open(r"C:\Users\91948\OneDrive\Desktop\projects\cricket analytics\t20_json_files\t20_wc_bowling") as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
all_records[:2]

[{'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Maheesh Theekshana',
  'overs': '4',
  'maiden': '0',
  'runs': '23',
  'wickets': '1',
  'economy': '5.75',
  '0s': '7',
  '4s': '0',
  '6s': '0',
  'wides': '2',
  'noBalls': '0'},
 {'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Dushmantha Chameera',
  'overs': '4',
  'maiden': '0',
  'runs': '39',
  'wickets': '1',
  'economy': '9.75',
  '0s': '6',
  '4s': '3',
  '6s': '1',
  'wides': '2',
  'noBalls': '0'}]

In [25]:
df_bowling = pd.DataFrame(all_records)
print(df_bowling.shape)
df_bowling.head()

(500, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

doing same process adding match_id to bowling tabel

In [27]:
df_bowling['match_id'] = df_match['match_id']

In [29]:
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1825
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1826
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1828
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1830

In [41]:
df_batting.to_csv(r'C:\Users\91948\OneDrive\Desktop\projects\cricket analytics\dim_bowling_summary.csv',index=True)

# (4) Process Players Information

In [31]:
with open(r"C:\Users\91948\OneDrive\Desktop\projects\cricket analytics\t20_json_files\t20_wc_player_info.json") as f:
    data = json.load(f)

In [32]:
df_players = pd.DataFrame(data)

print(df_players.shape)
df_players.head(10)

(219, 6)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendisâ€,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

 removing unwanted characters

In [33]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [35]:
df_players[df_players['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,description
127,KL Rahul,India,Right hand Bat,,Opening Batter,"A tall, elegant right-hand batsman who can kee..."
128,Rohit Sharma(c),India,Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne..."
129,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,India has given to the world many a great cric...
130,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,Hard-hitting 360-degree batter Suryakumar Yada...
131,Axar Patel,India,Left hand Bat,Slow Left arm Orthodox,Bowling Allrounder,Left-arm spinner Axar Patel has been increasin...
132,Hardik Pandya,India,Right hand Bat,Right arm Medium fast,Allrounder,Hardik Pandya swears by living life king size ...
133,Dinesh Karthik,India,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Not many would forget the sight of Dinesh Kart...
134,Ravichandran Ashwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,R Ashwin took the tricks and skills he learned...
135,Bhuvneshwar Kumar,India,Right hand Bat,Right arm Medium,Bowler,"At the time of his India debut in 2012, Bhuvne..."
136,Arshdeep Singh,India,Left hand Bat,Left arm Medium fast,Bowler,
137,Mohammed Shami,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Shami was India's leading fast bowler...
192,Deepak Hooda,India,Right hand Bat,Right arm Offbreak,Allrounder,"An allrounder who can bat in any position, Dee..."
211,Rishabh Pant,India,Left hand Bat,,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i..."

In [36]:
df_players['team'].unique()

array(['Namibia', 'Sri Lanka', 'Australia', 'Zimbabwe', 'Ireland',
       'Afghanistan', 'England', 'U.A.E.', 'Netherlands', 'West Indies',
       'Pakistan', 'India', 'Bangladesh', 'Scotland', 'South Africa',
       'New Zealand'], dtype=object)

In [37]:
df_players[df_players['team'] == 'England']

,name,team,battingStyle,bowlingStyle,playingRole,description
68,Jos Buttler(c),England,Right hand Bat,,Wicketkeeper Batter,England have had many players down the ages wh...
69,Alex Hales,England,Right hand Bat,Right arm Medium,Opening Batter,Despite a central role in the resurgence of En...
70,Dawid Malan,England,Left hand Bat,Legbreak,Top order Batter,Dawid Malan made a striking entry into interna...
71,Ben Stokes,England,Left hand Bat,Right arm Fast medium,Allrounder,The great Irish sports writer Con Houlihan use...
72,Liam Livingstone,England,Right hand Bat,Legbreak,Batting Allrounder,The sense that Liam Livingstone is a domineeri...
73,Harry Brook,England,Right hand Bat,Right arm Medium,Batter,"A former England U19s captain, Harry Brook ann..."
74,Moeen Ali,England,Left hand Bat,Right arm Offbreak,Batting Allrounder,Moeen Ali was tipped for the top long before h...
75,Chris Woakes,England,Right hand Bat,Right arm Fast medium,Allrounder,By the time Chris Woakes returned from England...
76,Mark Wood,England,Right hand Bat,Right arm Fast,Bowler,"It looked, for a while, as if Mark Wood would ..."
77,Sam Curran,England,Left hand Bat,Left arm Medium fast,Allrounder,"Sam Curran, younger brother of Tom Curran, his..."
78,Adil Rashid,England,Right hand Bat,Legbreak,Bowler,Adil Rashid did much to set right English cric...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."

here we can check squad of any team

In [42]:
df_players.to_csv(r'C:\Users\91948\OneDrive\Desktop\projects\cricket analytics\t20_csv_files\dim_players_no_images.csv', index = False)